<%= form_for(@task) do |t| %>
  <div>
    <%= t.label :title %>
    <%= t.text_field :title %>
  </div>
  <div>
    <%= t.label :details %>
    <%= t.text_field :details %>
  </div>
  <div>
    <%= t.label "Mark this as complete" %>
    <%= t.check_box :completed, {}, "true", "false" %>
  </div>
  <%= t.submit %>
<% end %>

<%= link_to "Back to list", "/tasks" %>
